@import "partials/colors.scss";
@import "partials/fonts.scss";
        *{
            color: $font-primary;
            text-decoration:none;     
        }

        body {
            background: $background-color;
        }

        .navbarContainer {
            height: 64px;
            width: 100vw;
            position: fixed;
            background: $white;
            #navbar {
                display: flex;
                align-items: center;
                background: $white;

                .nav-left {
                    background: $white;
                    .logo {
                        .pin {
                            fill: $primaryblue;
                        }
                        .star {
                            fill: $primaryyellow;
                        }
                    }
                }
                .nav-right {
                    background: $white;
                    
                    .loginUser {
                        color: $primaryblue;
                        background: $white;
                    }
                    .signUpUser {
                        color: $primaryblue;
                        background: $white;
                    }
                }
            }

        }

        .container {
            position: relative;
            top: 64px;
            display: flex;
            width: 100vw;
            height: auto;

            #boxFilters {
                width: 20vw;
                min-width: 200px;
                height: 100%; 
                display: flex;
                flex-direction: column;
                background: $white;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
                background: $white;
                padding-bottom: 16px;
                .divider {
                    width: 100%;
                    height: 1px;
                    background: $divider;
                    margin: 8px 0;
                }
                .search_field {
                    margin: 8px 16px;
                    width: calc(100% - 32px);
                    display: flex;
                    border: 1px solid $divider;
                    border-radius: 4px;
                    padding: 8px;
                    display: flex;
                    
                    input {
                        min-height: 28px;
                        outline: none;
                        border: 0;
                        margin-left: auto;
                    }
                }
                .destination {
                    height: 54px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    border: none;
                    
                    
                    i {
                        padding-right: 8px;
                        color: $font-secondary;
                    }
                    input {
                        margin-left: 0;
                        &::placeholder {
                            font-size: $subtitle;
                        }
                    }
                }
                .search_btn {
                    align-self: center;
                    height: 36px;
                    width: calc(100% - 32px);
                    padding: 0 16px;
                    background: $primaryblue;
                    color: $white;
                }
                .header {
                    font-size: $body1;
                    font-weight: 600;
                    padding: 8px 16px;
                }
    
                .checkbox_items {
                    padding: 0 16px;
                    label {
                        padding-left: 16px;
                    }
                }
                .range-items {
                    align-self: center;
                    height: auto;
                    width: 100%;
                    padding: 0 16px;
                    
                    .range-slider {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        font-size: $caption;
                        .slider-items {
                            .range {
                                width: 100%;
                            }
                        }
                       
                       .from-to-items {
                           display: flex;
                           justify-content: space-between;

                           .value {
                               display: flex;
                               i {
                                   width: 8px;
                                   height: 8px;
                                   font-size: 8px;
                                   color: $primaryyellow;           
                               }
                           }
                       }  
                    }
                }
            }
            #boxHotels {
                width: 80vw;
            }
        }
        .starsContainer{
            position:relative;
        }
        .starsShape{
            position:absolute;
            left:0;
            top:0;
            z-index: 2;
        }
        .starsBackground{
            position:absolute;
            height: 12px;
            width: 60px;
            background-color:#bdbdbd;
            z-index:-1;
            left:0;
            top:0;
        }
        .starsFill{
            position:absolute;
            height: 12px;
            background-color:#FFC107;
            z-index:-1;
            left:0;
            top:0;
        }
        .boxHotel{
            margin-top:20px;
        }
        #boxHotels{
            display:grid;
            grid-template-columns:1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-row-gap: 16px;
            grid-column-gap: 16px;
            padding: 16px;

            .boxHotel {
                background: $white;
                box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
        
                .boxImg{
                    height:150px;
                    width:100%;
                    background-size:cover;
                    background-position:center;
                    object-fit: cover;
                }
                .hotel-details {
                    padding: 16px;
                    
                    .hotel-name {
                        font-size: $title;
                        font-weight: 700;
                        text-transform: uppercase;
                    }

                    .star-items {
                        height: 24px;
                        display: flex;
                        align-items: center;
                        
                        .starsContainer {
                            margin-left: 8px;
                            z-index: 2;
                            bottom: 25%;
                        }
                    }
                    .price-items {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        position: relative;
                        bottom: 0;
                        right: 0;
                        .amount {
                            font-size: $subtitle;
                            font-weight: 600;
                            color: $primaryblue;
                        }
                        .per-night {
                            font-size: $caption;
                            font-weight: 300;
                            color: $font-disabled;
                        }
                    }
                    .description-items {
                        display: flex;
                        align-items: center;
                        font-size: $body1;
                        i {
                            color: $font-secondary;
                            font-size: 18px;
                            padding-right: 8px;
                        }
                    }       
                }
            }
        }
        
