$primaryblue: #005fb2;
$darkblue: #003682;
$lightblue: #558ce5;
$primaryyellow: #ffc107;
$white:#ffffff;

// Text colors 
$font-primary: #333333;
$font-secondary: #4F4F4F;
$font-disabled: #828282;

// dividers
$divider: #BDBDBD;